PINECONE_API_KEY=your_pinecone_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
COHERE_API_KEY=your_cohere_api_key_here
DATABASE_URL=your_postgres_connection_string_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=citerag
POSTGRES_USER=citerag
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_SSLMODE=prefer